.playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.playlist {
    color: var(--white-smoke);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20rem;
    cursor: pointer;
    border: 1px solid var(--white-smoke);
}

.delete-video {
    width: 40px;
    height: 40px;
    background-color: var(--error-red);
    color: var(--white-smoke)
}

.delete-video i:hover {
    color: var(--white-smoke)
} 
