:root {
    --side-nav-bg:#2e3238;
     /* #7a828e; */
    --side-nav-hover: #202124;
}

.bg-side-nav-dark {
    background-color: var(--side-nav-hover);
    width: 24rem;
    height: 100vh;
}

.bg-side-nav-dark .nav-item:hover{
    background-color: var(--side-nav-bg);
}

.bg-side-nav-dark .nav-item {
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    transition: background-color 0.2s ease;
}

.bg-side-nav-dark .nav-item i {
    color: whitesmoke;
}

.bg-side-nav-dark .nav-item i:hover {
    color: inherit;
}

