@import url("../../color-palette/colors.css");

.circular-loader {
    border: 6px solid var(--lightish-gray-shade);
    border-top: 6px solid var(--light-blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }