@import url("../../components/color-palette/colors.css");

.videos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 1rem; 
}

.explore-container {
    display: flex;
    background-color: var(--light-black-shade);
    scroll-behavior: auto;
    justify-content: center;
}

.explore-content {
    margin: 1rem auto;
    max-width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
}

.explore-content div button {
    margin: 0 1rem 1rem 0;
}

.filter-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.btn-category-active {
    background-color: var(--primary-blue);
}

@media(max-width: 422px) {
    .filter-container {
        display: flex;
        margin: 20px;
        width: calc(100vw - 110px);
    }
    .catgeory-btn {
        font-size: 10px;
        height: 44px;
    } 
    .explore-content {
        margin: 20px;
        max-width: calc(100vw - 110px);
        display: flex;
        flex-direction: column;
    }
    .videos-container {
        max-width: calc(100vw - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 75px;
        margin-right: 25px;
    }
}

