@import url("../../components/color-palette/colors.css");

.videos-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 1rem; 
}

.explore-container {
    max-width: calc(100vw - 50px);
    display: flex;
    background-color: var(--light-black-shade);
    scroll-behavior: auto;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.explore-content {
    margin: 1rem auto;
    max-width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
}

.explore-content div button {
    margin: 0 1rem 1rem 0;
}

.filter-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.btn-category-active {
    background-color: var(--primary-blue);
}

@media(max-width: 768px) {
    .filter-container {
        display: flex;
        max-width: 80%;
    }
    .explore-container {
        margin-left: 50px;
    }
}